
<div class="row">
  <div class="col-8">
    <% @equipments.each do |equipment| %>
      <%= link_to(equipment) do %>
      <div class="media bg-white rounded m-2 py-3 card-shadow no-link-effect">
        <!-- <#% equipment.photos.each do |photo| %> -->
        <%= cl_image_tag equipment.photos.first.key, height: 300, width: 400, crop: :fill, class: "mr-3" %>
        <div class="media-body">
          <h2><%= equipment.name %></h2>
            <p>Description:<%= equipment.description %>€</p>
            <p>Price:<%= equipment.price %>€</p>
            <p>Rented by: <%= equipment.user.first_name %></p>
            <p>City: <%= equipment.user.city %></p>
            <%= link_to "Save as favorite", favorite_equipment_path(equipment), method: :post %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-4">
    <div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>
</div>
