
<div class="row">
  <div class="col-8">
    <% @equipments.each do |equipment| %>
    <%= link_to(equipment) do %>
    <div class="media bg-white rounded m-2 py-3 card-shadow">
      <!-- <#% equipment.photos.each do |photo| %> -->
      <%= cl_image_tag equipment.photos.first.key, height: 300, width: 400, crop: :fill, class: "mr-3" %>
      <div class="media-body">
        <h2><%= equipment.name %></h2>
          <p>Description:<%= equipment.description %>€</p>
          <p>Price:<%= equipment.price %>€</p>
          <p>Rented by: <%= equipment.user.first_name %></p>
          <p>City: <%= equipment.user.city %></p>
      </div>
    </div>
      <!-- <#% end %> -->
    <% end %>
    <% end %>
  </div>
  <div class="col-4">
    <img id="map" class="w-100" src="https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png">
  </div>
</div>
