<div class="container">
  <h1 class="my-4 text-center">My bookings</h1>

  <div class="row">
    <% @bookings.each_with_index do |booking, index| %>
      <div class="col-3 offset-1 bg-white rounded my-2 py-3 card-shadow">
        <h4 class="my-2 text-center">Booking <%= index + 1%></h2>
        <hr>
          <p class="text-center"> <%="#{Equipment.find(booking.equipment_id).name} "%></p>
          <p class="text-center"><%= "from #{booking.start_date} to #{booking.end_date}" %></p>
          <p class="text-center"><%= "rented from #{Equipment.find(booking.equipment_id).user.first_name} "%></p>
          <p class="text-center"><%= "Status: #{booking.status} "%></p> 
      </div> 
    <% end %>
  </div>
</div>